.env
.env.*
setup/.env
setup/.env.*
storage/
storage/genotypes/
__pycache__/
libs/__pycache__/
libs/dao/__pycache__/
libs/domain/__pycache__/
libs/exceptions/__pycache__/
libs/service/__pycache__/
run/__pycache__/
logs/
.vscode/
.vscode/settings.json
*.log
